.navBar {
    position: relative !important;
    height: 65px;
    left: 0px !important;
    top: 0px !important;
    background: #3A3E49 !important;
    color: var(--orange-color) !important;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.2) !important;
    -webkit-backdrop-filter: blur(129px);
    backdrop-filter: blur(129px);
    z-index: initial !important;
}

.navBar button {
    transition: all 0.5s ease;
}

.navBar button:hover {
    background-color: var(--orange-color);
    text-shadow: 0 0 15px var(--orange-color);
    transition: all 0.5s ease;
}