.navbar {
    position: relative !important;
    height: 65px;
    left: 0px !important;
    top: 0px !important;
    background: #22223B !important;
    color: var(--orange-color) !important;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.2) !important;
    -webkit-backdrop-filter: blur(129px);
    backdrop-filter: blur(129px);
    z-index: initial !important;
    user-select: none;
}

.navbar button {
    transition: all 0.5s ease;
}

.navbar button:hover {
    background-color: var(--orange-color);
    text-shadow: 0 0 15px var(--orange-color);
    transition: all 0.5s ease;
}

#title {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {

    /* fix header to combine header icon & text for link*/
    div.MuiToolbar-root {
        display: flex;
        justify-content: space-between;
    }
}

/* fix title position on mobile devices */
@media (max-width: 576px) {
    div.MuiTypography-root {
        display: flex;
        justify-content: flex-end;
        margin-right: -28%;
    }
}