footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: auto;
    background-color: #3A3E49;
}

.footerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 0.8rem;
    color: var(--text-color);
    padding: 8px 23px;
    font-weight: 700;
    font-size: 13.8157px;
    text-transform: capitalize;
    margin: 0 0;
}

hr {
    margin: 0 !important;
    background-color: var(--bg-color);
}

.footerArea button a {
    color: var(--text-color);
}

.footerArea button a#github, .footerArea button a#linkedin {
    transition: all 0.5s ease;
}

.footerArea button:hover a#github, .footerArea button:hover a#linkedin {
    color: var(--orange-color);
    text-shadow: 0 0 15px var(--orange-color);
    transition: all 0.5s ease;
    transform: scale(1.1);
}