:root {
  --orange-color: #FD930B;
  --bg-color: #BDBDBD;
  --text-color: #F0EFF5;
  --border-gray-color: #A1A7AD;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  mix-blend-mode: normal;
/* For Footer */
position: relative;
min-height: 100vh;
padding-bottom: 62px;
}

/* Override */

/* excluding mobile nav buttons */
.MuiButton-root.MuiButton-outlined:not(.respNavBtn button) {
  border-color: var(--border-gray-color) !important;
  text-transform: capitalize !important;
  color: #fff !important;
}